body {
  margin: 0;
}

* {
  font-family: "Jost", sans-serif !important;
}

.flexContainerBasicRow {
  display: flex;
  align-items: center;
}
.flexContainerBasicColumn {
  display: flex;
  flex-direction: column;
}
.flexContainerJustify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container img {
  width: 230px;
  height: 210px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
}

.image-container:hover img {
  transform: scale(1.1); /* Increase size by 10% */
}
